body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#font_h1 {
    font-size: 4vw;
    text-align: center;
    margin-top: 50px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
    gap: 60px 20px;
    /* Set vertical gap to 20px and horizontal gap to 0 */
    padding: 10px;
}

.box_photo {
    position: relative;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.box_photo:nth-child(odd) {
    background-color: #d0d0d0;
}

.box_photo label {
    font-weight: bold;
    font-size: 150%;
 
}

.box_photo p {
    text-align: justify;
    font-size: 100%;
    margin-top: 7px;
    margin-bottom: 1px;
   
}
#p_header {
    font-weight: bold;
}


.box_photo img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;

}

.button-container {
    
    /* Pushes the button container to the bottom */
    text-align: center;
    margin-bottom: 0px;
    margin-top: auto;
}

.button-container button {
    padding: 10px 20px;
    background-color: #008304;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-top: auto;
}

.button-container button:hover {
    background-color: #37a53d;
}

@media (max-width: 600px) {
    .main {
        grid-template-columns: 1fr;
    }

    #font_h1 {
        font-size: 8vw;
        text-align: center;
        margin-top: 50px;
    }

    .box_photo label {
        font-weight: bold;
        font-size: 150%;
        margin-bottom: 10px;
        display: block;
    }

    .box_photo p {
        font-size: 100%;
    }
}
